.grid-row {
  *zoom: 1;
}
.grid-row:before, .grid-row:after {
  content: " ";
  display: table;
}
.grid-row:after {
  clear: both;
}

.main {
  clear: left;
}
.main {
  float: left;
}
.main {
  margin-right: -100%;
}
.main {
  width: 74%;
}

aside {
  float: right;
}
aside {
  width: 22%;
}
