%_rgs-last-column {
    float: right;
}

%_rgs-default-column {
    margin-right: -100%;
    float: left;
}

%_rgs-first-column {
    @extend %_rgs-default-column;
    margin-left: 0;
    clear: left;
}