@import '../../../dist/raster';

$col-md: (
    columns: 12,
    prefix: col-md
);
@media (min-width:768px) and (max-width: 1024px) {
    @include raster($col-md);
}
$col-l: (
        columns: 12,
        prefix: col-l
);
@media (min-width: 1024px) {
    @include raster($col-l);
}