/* creates a new grid column
 * ---
 * @author Marc Mintel <marc@mintel.me>
 * ---
 * @access private
 * ---
 * @param {map}    $conf   - configuration object for columns, prefix, gutter, combinations, helpers
 * @param {number} $column - column to fill
 * @param {number} $span   - span of columns
 * ---
 * @since 3.0.0
 */

@mixin _rgs-column($conf, $column, $span: null) {
    $columns: map-get($conf, columns);
    $prefix: map-get($conf, prefix);
    $gutter: map-get($conf, gutter);
    $helpers: map-get($conf, helpers);
    $combinations: map-get($conf, combinations);
    $columns: _rgs-parse-columns($columns);
    $number-of-columns: length($columns);

    $last-indicator: $column == $number-of-columns;
    @if $span != null {
        $last-indicator: $span == $number-of-columns;
    }

    $clear-left-placeholder: #{$prefix}-clear-left;
    @if index($_rgs-clear-left-placeholders, $clear-left-placeholder) == null {
        @at-root {
            #{'%'+$clear-left-placeholder} {
                clear: left;
            }
        }
        $_rgs-clear-left-placeholders: append($_rgs-clear-left-placeholders, $clear-left-placeholder) !global;
    }


    $float-right-placeholder: #{$prefix}-float-right;
    @if $last-indicator {
        @if index($_rgs-float-right-placeholders, $float-right-placeholder) == null {
            @at-root {
                #{'%'+$float-right-placeholder} {
                    float: right;
                }
            }
            $_rgs-float-right-placeholders: append($_rgs-float-right-placeholders, $float-right-placeholder) !global;
        }
    }

    $float-left-placeholder: #{$prefix}-float-left;
    @if index($_rgs-float-left-placeholders, $float-left-placeholder) == null {
        @at-root {
            #{'%'+$float-left-placeholder} {
                float: left;
            }
        }
        $_rgs-float-left-placeholders: append($_rgs-float-left-placeholders, $float-left-placeholder) !global;
    }

    $margin-right-placeholder: #{$prefix}-margin-right;
    @if index($_rgs-margin-right-placeholders, $margin-right-placeholder) == null {
        @at-root {
            #{'%'+$margin-right-placeholder} {
                margin-right: -100%;
            }
        }
        $_rgs-margin-right-placeholders: append($_rgs-margin-right-placeholders, $margin-right-placeholder) !global;
    }
    
    $margin-left-placeholder: #{$prefix}-placeholder-margin-#{ceil(_rgs-get-margin($column, $columns, $gutter))};
    @if $column != 1 {
        @if index($_rgs-margin-left-placeholders, $margin-left-placeholder) == null {
            @at-root {
                #{'%'+$margin-left-placeholder} {
                    margin-left: _rgs-parse-margin($column, $columns, $gutter);
                }
            }
            $_rgs-margin-left-placeholders: append($_rgs-margin-left-placeholders, $margin-left-placeholder) !global;
        }
    }
    $width-placeholder: #{$prefix}-placeholder-width-#{ceil(_rgs-get-width($column, $span, $columns, $gutter))};
    @if index($_rgs-width-placeholders, $width-placeholder) == null {
        @at-root {
            #{'%'+$width-placeholder} {
                width: _rgs-parse-width($column, $span, $columns, $gutter);
            }
        }
        $_rgs-width-placeholders: append($_rgs-width-placeholders, $width-placeholder) !global;
    }
    
    @if $column == 1 {
        @extend #{'%'+$float-left-placeholder};
        @extend #{'%'+$clear-left-placeholder};
    } @else if $last-indicator {
        @extend #{'%'+$float-right-placeholder};                
    } @else {
        @extend #{'%'+$margin-left-placeholder} !optional;
        @extend #{'%'+$float-left-placeholder};
    } 
    @if not $last-indicator {
        @extend #{'%'+$margin-right-placeholder};
    }
    @extend #{'%'+$width-placeholder};
}