/* creates a new padding for a column
 * ---
 * @access private
 * ---
 * @param {map} $conf - configuration object for columns, prefix, gutter, combinations, helpers
 * ---
 * @since 3.0.0
 */

@mixin _rgs-pad($conf) {
    $gutter: map-get($conf, gutter);
    $prefix: map-get($conf, prefix);
    $pad-placeholder: #{$prefix}-placeholder-margin-#{$gutter};
    @if index($_rgs-pad-placeholders, $pad-placeholder) == null {
        @at-root {
            #{'%'+$pad-placeholder} {
                $pad: $gutter * 1% * 0.5;
                position: relative;
                left: -$pad;
                padding-left: $pad;
                padding-right: $pad;
            }
        }
        $_rgs-pad-placeholders: append($_rgs-pad-placeholders, $pad-placeholder) !global;
    }
    @extend #{'%'+$pad-placeholder};
}