/* calculates the width for each column 
 * ---
 * @access private
 * ---
 * @param {list}   $columns - list containing widths for columns
 * @param {number} $gutter  - size of gutter 
 * ---
 * @returns {list}
 * ---
 * @since 3.0.0
 */

@function _rgs-column-widths($columns, $gutter) {
    $columns: _rgs-parse-columns($columns);
    $number-of-columns: length($columns);
    $total-gutter-width: $gutter * ($number-of-columns - 1);
    $totalWidth: 100 - $total-gutter-width;
    $widths: ();
    @each $column in $columns {
        @if $column != $columns {
            $width: $totalWidth * ($column / 100);
            $widths: append($widths, $width);
        }
    }
    @return $widths;
}