/* get the margin for a column from a list of margins
 * ---
 * @access private
 * ---
 * @param {number|list}
 * ---
 * @returns {number}
 * ---
 * @since 3.0.0
 */

@function _rgs-get-margin($column, $columns, $gutter) {
    $margins: _rgs-column-margins($columns, $gutter);
    $number-of-columns: length($columns);
    $margin: nth($margins, $column);
    @return $margin;
}