/* checks if there are equal columns or ratio based ones
 * ---
 * @access private
 * ---
 * @param {list} $columns - a list of columns 
 * ---
 * @return {bool}
 * ---
 * @since 3.0.0
 */

@function _rgs-is-equal($columns) {
    @if type-of($columns) == number {
        @return true;
    } @else if type-of($columns) == list {
        $equal-columns: true;
        $old-column: false;
        @each $column in $columns {
            @if $old-column == false {
                $old-column: $column;
            } @else {
                @if $column != $old-column {
                    $equal-columns: false;
                }
            }
            $old-column: $column;
        }
        @return $equal-columns;
    }
    @return false;
}