.grid-row {
  *zoom: 1;
}
.grid-row:before, .grid-row:after {
  content: " ";
  display: table;
}
.grid-row:after {
  clear: both;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-1, .col-md-1-2, .col-md-1-3, .col-md-1-4, .col-md-1-5, .col-md-1-6, .col-md-1-7, .col-md-1-8, .col-md-1-9, .col-md-1-10, .col-md-1-11, .col-md-1-12 {
    clear: left;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-1-2, .col-md-1-3, .col-md-1-4, .col-md-1-5, .col-md-1-6, .col-md-1-7, .col-md-1-8, .col-md-1-9, .col-md-1-10, .col-md-1-11, .col-md-1-12, .col-md-2-3, .col-md-2-4, .col-md-2-5, .col-md-2-6, .col-md-2-7, .col-md-2-8, .col-md-2-9, .col-md-2-10, .col-md-2-11, .col-md-3-4, .col-md-3-5, .col-md-3-6, .col-md-3-7, .col-md-3-8, .col-md-3-9, .col-md-3-10, .col-md-3-11, .col-md-4-5, .col-md-4-6, .col-md-4-7, .col-md-4-8, .col-md-4-9, .col-md-4-10, .col-md-4-11, .col-md-5-6, .col-md-5-7, .col-md-5-8, .col-md-5-9, .col-md-5-10, .col-md-5-11, .col-md-6-7, .col-md-6-8, .col-md-6-9, .col-md-6-10, .col-md-6-11, .col-md-7-8, .col-md-7-9, .col-md-7-10, .col-md-7-11, .col-md-8-9, .col-md-8-10, .col-md-8-11, .col-md-9-10, .col-md-9-11, .col-md-10-11 {
    float: left;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-1-2, .col-md-1-3, .col-md-1-4, .col-md-1-5, .col-md-1-6, .col-md-1-7, .col-md-1-8, .col-md-1-9, .col-md-1-10, .col-md-1-11, .col-md-2-3, .col-md-2-4, .col-md-2-5, .col-md-2-6, .col-md-2-7, .col-md-2-8, .col-md-2-9, .col-md-2-10, .col-md-2-11, .col-md-3-4, .col-md-3-5, .col-md-3-6, .col-md-3-7, .col-md-3-8, .col-md-3-9, .col-md-3-10, .col-md-3-11, .col-md-4-5, .col-md-4-6, .col-md-4-7, .col-md-4-8, .col-md-4-9, .col-md-4-10, .col-md-4-11, .col-md-5-6, .col-md-5-7, .col-md-5-8, .col-md-5-9, .col-md-5-10, .col-md-5-11, .col-md-6-7, .col-md-6-8, .col-md-6-9, .col-md-6-10, .col-md-6-11, .col-md-7-8, .col-md-7-9, .col-md-7-10, .col-md-7-11, .col-md-8-9, .col-md-8-10, .col-md-8-11, .col-md-9-10, .col-md-9-11, .col-md-10-11 {
    margin-right: -100%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    width: 4.66667%;
  }

  .col-md-2, .col-md-2-3, .col-md-2-4, .col-md-2-5, .col-md-2-6, .col-md-2-7, .col-md-2-8, .col-md-2-9, .col-md-2-10, .col-md-2-11 {
    margin-left: 8.66667%;
  }

  .col-md-3, .col-md-3-4, .col-md-3-5, .col-md-3-6, .col-md-3-7, .col-md-3-8, .col-md-3-9, .col-md-3-10, .col-md-3-11 {
    margin-left: 17.33333%;
  }

  .col-md-4, .col-md-4-5, .col-md-4-6, .col-md-4-7, .col-md-4-8, .col-md-4-9, .col-md-4-10, .col-md-4-11 {
    margin-left: 26%;
  }

  .col-md-5, .col-md-5-6, .col-md-5-7, .col-md-5-8, .col-md-5-9, .col-md-5-10, .col-md-5-11 {
    margin-left: 34.66667%;
  }

  .col-md-6, .col-md-6-7, .col-md-6-8, .col-md-6-9, .col-md-6-10, .col-md-6-11 {
    margin-left: 43.33333%;
  }

  .col-md-7, .col-md-7-8, .col-md-7-9, .col-md-7-10, .col-md-7-11 {
    margin-left: 52%;
  }

  .col-md-8, .col-md-8-9, .col-md-8-10, .col-md-8-11 {
    margin-left: 60.66667%;
  }

  .col-md-9, .col-md-9-10, .col-md-9-11 {
    margin-left: 69.33333%;
  }

  .col-md-10, .col-md-10-11 {
    margin-left: 78%;
  }

  .col-md-11 {
    margin-left: 86.66667%;
  }

  .col-md-12, .col-md-2-12, .col-md-3-12, .col-md-4-12, .col-md-5-12, .col-md-6-12, .col-md-7-12, .col-md-8-12, .col-md-9-12, .col-md-10-12, .col-md-11-12 {
    float: right;
  }
  .col-md-1-2, .col-md-2-3, .col-md-3-4, .col-md-4-5, .col-md-5-6, .col-md-6-7, .col-md-7-8, .col-md-8-9, .col-md-9-10, .col-md-10-11, .col-md-11-12 {
    width: 13.33333%;
  }

  .col-md-1-3, .col-md-2-4, .col-md-3-5, .col-md-4-6, .col-md-5-7, .col-md-6-8, .col-md-7-9, .col-md-8-10, .col-md-9-11, .col-md-10-12 {
    width: 22%;
  }

  .col-md-1-4, .col-md-2-5, .col-md-3-6, .col-md-4-7, .col-md-5-8, .col-md-6-9, .col-md-7-10, .col-md-8-11, .col-md-9-12 {
    width: 30.66667%;
  }

  .col-md-1-5, .col-md-2-6, .col-md-3-7, .col-md-4-8, .col-md-5-9, .col-md-6-10, .col-md-7-11, .col-md-8-12 {
    width: 39.33333%;
  }

  .col-md-1-6, .col-md-2-7, .col-md-3-8, .col-md-4-9, .col-md-5-10, .col-md-6-11, .col-md-7-12 {
    width: 48%;
  }

  .col-md-1-7, .col-md-2-8, .col-md-3-9, .col-md-4-10, .col-md-5-11, .col-md-6-12 {
    width: 56.66667%;
  }

  .col-md-1-8, .col-md-2-9, .col-md-3-10, .col-md-4-11, .col-md-5-12 {
    width: 65.33333%;
  }

  .col-md-1-9, .col-md-2-10, .col-md-3-11, .col-md-4-12 {
    width: 74%;
  }

  .col-md-1-10, .col-md-2-11, .col-md-3-12 {
    width: 82.66667%;
  }

  .col-md-1-11, .col-md-2-12 {
    width: 91.33333%;
  }

  .col-md-1-12 {
    width: 100%;
  }

  .col-md-pad {
    position: relative;
    left: -2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .col-md-full {
    clear: left;
    margin-left: 0;
    width: 100%;
  }

  .col-md-hidden {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .col-l-1, .col-l-1-2, .col-l-1-3, .col-l-1-4, .col-l-1-5, .col-l-1-6, .col-l-1-7, .col-l-1-8, .col-l-1-9, .col-l-1-10, .col-l-1-11, .col-l-1-12 {
    clear: left;
  }
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-1-2, .col-l-1-3, .col-l-1-4, .col-l-1-5, .col-l-1-6, .col-l-1-7, .col-l-1-8, .col-l-1-9, .col-l-1-10, .col-l-1-11, .col-l-1-12, .col-l-2-3, .col-l-2-4, .col-l-2-5, .col-l-2-6, .col-l-2-7, .col-l-2-8, .col-l-2-9, .col-l-2-10, .col-l-2-11, .col-l-3-4, .col-l-3-5, .col-l-3-6, .col-l-3-7, .col-l-3-8, .col-l-3-9, .col-l-3-10, .col-l-3-11, .col-l-4-5, .col-l-4-6, .col-l-4-7, .col-l-4-8, .col-l-4-9, .col-l-4-10, .col-l-4-11, .col-l-5-6, .col-l-5-7, .col-l-5-8, .col-l-5-9, .col-l-5-10, .col-l-5-11, .col-l-6-7, .col-l-6-8, .col-l-6-9, .col-l-6-10, .col-l-6-11, .col-l-7-8, .col-l-7-9, .col-l-7-10, .col-l-7-11, .col-l-8-9, .col-l-8-10, .col-l-8-11, .col-l-9-10, .col-l-9-11, .col-l-10-11 {
    float: left;
  }
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-1-2, .col-l-1-3, .col-l-1-4, .col-l-1-5, .col-l-1-6, .col-l-1-7, .col-l-1-8, .col-l-1-9, .col-l-1-10, .col-l-1-11, .col-l-2-3, .col-l-2-4, .col-l-2-5, .col-l-2-6, .col-l-2-7, .col-l-2-8, .col-l-2-9, .col-l-2-10, .col-l-2-11, .col-l-3-4, .col-l-3-5, .col-l-3-6, .col-l-3-7, .col-l-3-8, .col-l-3-9, .col-l-3-10, .col-l-3-11, .col-l-4-5, .col-l-4-6, .col-l-4-7, .col-l-4-8, .col-l-4-9, .col-l-4-10, .col-l-4-11, .col-l-5-6, .col-l-5-7, .col-l-5-8, .col-l-5-9, .col-l-5-10, .col-l-5-11, .col-l-6-7, .col-l-6-8, .col-l-6-9, .col-l-6-10, .col-l-6-11, .col-l-7-8, .col-l-7-9, .col-l-7-10, .col-l-7-11, .col-l-8-9, .col-l-8-10, .col-l-8-11, .col-l-9-10, .col-l-9-11, .col-l-10-11 {
    margin-right: -100%;
  }
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12 {
    width: 4.66667%;
  }

  .col-l-2, .col-l-2-3, .col-l-2-4, .col-l-2-5, .col-l-2-6, .col-l-2-7, .col-l-2-8, .col-l-2-9, .col-l-2-10, .col-l-2-11 {
    margin-left: 8.66667%;
  }

  .col-l-3, .col-l-3-4, .col-l-3-5, .col-l-3-6, .col-l-3-7, .col-l-3-8, .col-l-3-9, .col-l-3-10, .col-l-3-11 {
    margin-left: 17.33333%;
  }

  .col-l-4, .col-l-4-5, .col-l-4-6, .col-l-4-7, .col-l-4-8, .col-l-4-9, .col-l-4-10, .col-l-4-11 {
    margin-left: 26%;
  }

  .col-l-5, .col-l-5-6, .col-l-5-7, .col-l-5-8, .col-l-5-9, .col-l-5-10, .col-l-5-11 {
    margin-left: 34.66667%;
  }

  .col-l-6, .col-l-6-7, .col-l-6-8, .col-l-6-9, .col-l-6-10, .col-l-6-11 {
    margin-left: 43.33333%;
  }

  .col-l-7, .col-l-7-8, .col-l-7-9, .col-l-7-10, .col-l-7-11 {
    margin-left: 52%;
  }

  .col-l-8, .col-l-8-9, .col-l-8-10, .col-l-8-11 {
    margin-left: 60.66667%;
  }

  .col-l-9, .col-l-9-10, .col-l-9-11 {
    margin-left: 69.33333%;
  }

  .col-l-10, .col-l-10-11 {
    margin-left: 78%;
  }

  .col-l-11 {
    margin-left: 86.66667%;
  }

  .col-l-12, .col-l-2-12, .col-l-3-12, .col-l-4-12, .col-l-5-12, .col-l-6-12, .col-l-7-12, .col-l-8-12, .col-l-9-12, .col-l-10-12, .col-l-11-12 {
    float: right;
  }
  .col-l-1-2, .col-l-2-3, .col-l-3-4, .col-l-4-5, .col-l-5-6, .col-l-6-7, .col-l-7-8, .col-l-8-9, .col-l-9-10, .col-l-10-11, .col-l-11-12 {
    width: 13.33333%;
  }

  .col-l-1-3, .col-l-2-4, .col-l-3-5, .col-l-4-6, .col-l-5-7, .col-l-6-8, .col-l-7-9, .col-l-8-10, .col-l-9-11, .col-l-10-12 {
    width: 22%;
  }

  .col-l-1-4, .col-l-2-5, .col-l-3-6, .col-l-4-7, .col-l-5-8, .col-l-6-9, .col-l-7-10, .col-l-8-11, .col-l-9-12 {
    width: 30.66667%;
  }

  .col-l-1-5, .col-l-2-6, .col-l-3-7, .col-l-4-8, .col-l-5-9, .col-l-6-10, .col-l-7-11, .col-l-8-12 {
    width: 39.33333%;
  }

  .col-l-1-6, .col-l-2-7, .col-l-3-8, .col-l-4-9, .col-l-5-10, .col-l-6-11, .col-l-7-12 {
    width: 48%;
  }

  .col-l-1-7, .col-l-2-8, .col-l-3-9, .col-l-4-10, .col-l-5-11, .col-l-6-12 {
    width: 56.66667%;
  }

  .col-l-1-8, .col-l-2-9, .col-l-3-10, .col-l-4-11, .col-l-5-12 {
    width: 65.33333%;
  }

  .col-l-1-9, .col-l-2-10, .col-l-3-11, .col-l-4-12 {
    width: 74%;
  }

  .col-l-1-10, .col-l-2-11, .col-l-3-12 {
    width: 82.66667%;
  }

  .col-l-1-11, .col-l-2-12 {
    width: 91.33333%;
  }

  .col-l-1-12 {
    width: 100%;
  }

  .col-l-pad {
    position: relative;
    left: -2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .col-l-full {
    clear: left;
    margin-left: 0;
    width: 100%;
  }

  .col-l-hidden {
    display: none !important;
  }
}
