/*
 * parses columns into list of ratios if needed
 * ---
 * @access private
 * ---
 * @param {number|list} $columns
 * ---
 * @return {$list}
 */

@function _rs-parseColumns($columns) {
    @if type-of($columns) != number and type-of($columns) != list {
        @warn '#{$columns} is no valid input for $columns of _rs-parseColumns.';
        @return false;
    }
    @if length($columns) == 1 {
        $columnLength: $columns;
        $ratios: ();
        @for $n from 1 through $columns {
            $ratios: append($ratios, 1);
        }
        @return $ratios;
    } @else {
        @return $columns;
    }
}