/*
 * generate the styles for each column
 * ---
 * @access private
 */

@mixin _rs-column($selector, $ratios, $gutterWidth, $from, $to:false) {
    $column: $from;
    $prefix: str-slice($selector, 2);
    //first column should always start a new row
    @if $column == 1 {
        @extend #{'%'+$prefix}-clear;
    }
    //because of possible rounding errors we float the last column to the right
    @if $column == length($ratios) or $to == length($ratios) and $column > 1 {
        @extend #{'%'+$prefix}-last;
    } @else {
        @extend #{'%'+$prefix}-float-left;
        @if $old-ie == false {
            @extend #{'%'+$prefix}-margin-right;
            $columnMargin: _rs-getColumnMargin($ratios, $gutterWidth, $column);
            @if $columnMargin == 0 {
                @extend #{'%'+$prefix}-margin-left-zero;
            } @else {
                $margin: $columnMargin / ($columnMargin * 0 + 1); //strip units
                @extend #{'%'+$prefix}-margin-left-#{$margin*10000};
            }
        } @else {
            margin-left: $gutterWidth;
        }
    }
}

@mixin _rs-singleColumns($selector, $ratios, $gutterWidth) {
    //create the selectors for each column and include their styles
    $columns: _rs-parseColumns($ratios);
    $prefix: str-slice($selector, 2);
    @for $column from 1 through length($columns)  {
        #{$selector}-#{$column} {
            @include _rs-column($selector, $columns, $gutterWidth, $column);
            @if _rs-hasEqualColumns($ratios) {
                @extend #{'%'+$prefix}-width;
            } @else {
                @each $width in _rs-columnWidths($columns, $gutterWidth) {
                    @extend #{'%'+$prefix}-width-#{$width*10000};
                }
            }
        }
    }
}

@mixin _rs-combinedColumns($selector, $ratios, $gutterWidth) {
    $columns: _rs-parseColumns($ratios);
    @for $from from 1 through (length($columns) - 1) { //remove 1 from the list because we don't want a combination for the last column
        @for $to from ($from + 1) through length($columns) {
            #{$selector}-#{$from}-#{$to} {
                @include _rs-column($selector, $columns, $gutterWidth, $from, $to);
            }
        }
    }
}
