/* status for the creation of a grid row
 * ---
 * @access private
 * ---
 * @type bool
 */
$_rgs-grid-row-created: false;

/* collects placeholders for widths
 * ---
 * @access private
 * ---
 * @type list
 */
$_rgs-width-placeholders: ();

/* collects placeholders for margins
 * ---
 * @access private
 * ---
 * @type list
 */
$_rgs-margin-placeholders: ();

/* collects placeholders for paddings
 * ---
 * @access private
 * ---
 * @type list
 */
$_rgs-pad-placeholders: ();

/* default config
 * ---
 * @access private
 * ---
 * @type map
 */
$_rgs-defaults:(
    columns: 12,
    prefix: 'column',
    gutter: 4,
    combinations: true,
    helpers: true
);

/* set the name of the class that is used as a grid row
 * ---
 * @access public
 * ---
 * @type string
 */
$rgs-grid-row: 'grid-row' !default;