$raster-row-set: false;

/*
 * apply bugfixes to old internet explorers
 * ---
 * @type bool
 */

$old-ie: false !default;

/*
 * set the name of the class that is used as a grid row
 * ---
 * @type string
 */

$raster-row: '.grid-row' !default;